

/*-------------tabs---------------*/
.tabs {
	position:relative;
	z-index:2;
}
.tabs a {
	display:inline-block;
	padding:5px 12px;
	text-decoration:none;
	border:1px solid #9C9C9C;
	border-bottom:0;
	margin-right:0px;
	border-radius:5px 5px 0 0;
	background:#FFF;
	color:#4c4c4c;
	margin-right:-1px;
}
.tabs a:hover, .tabs a.active {
	color:#000;
	}
.tabs a.active, .tabs a:active {
	bottom:-1px;
	position:relative;
}
.tabcontent {
	border-radius:0px 5px 5px 5px!important;
	position:relative;
	z-index:1;
	padding-bottom:40px;
}
.tabcontent .tablePars{ display:none;}




